@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;500&family=Space+Grotesk:wght@300&display=swap');

:root {
    
    --primary-rgb: 255 255 255;
}

html,
body,
#__nuxt,
#__layout {
    height: 100% !important;
    width: 100% !important;
    background: black;
    font-family: 'Source Code Pro', monospace;
    color: white;
    overflow: hidden;
}

* {
    margin: 0;
    padding: 0;
}
a{
    color: rgb(215, 215, 215);
    text-shadow: 0rem 0rem 0.5rem white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 300;
}
a:hover{
    text-decoration: underline;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 28rem;
    height: 40rem;
    border: 0.2rem solid white;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
#bg{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("~/assets/space.jpg");
    background-size: 125%;
    filter: sepia(25%)  hue-rotate(270deg);
    background-position: center;
    border-radius: 1rem;
    z-index: 0;
    opacity: 0;
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bg > div {
    width: 85%;
    height: 90%;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 60%);
    padding: 1rem 1rem;
    z-index: 4;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
}
#bg > div > h1 {
    font-family: 'Space Grotesk', sans-serif;
    padding: 1rem 0;
}
.text {
    font-size: 1.25rem;
}
.text-footer {
    margin: 2rem 0;
    font-size: 1.25rem;
}
.bg-image{
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("~/assets/space.jpg");
    background-size: 125%;
    filter: sepia(25%)  hue-rotate(270deg);
    z-index: 2;
    background-position: center;
    border-radius: 1rem;
}
.bg-effect{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0.3;
    z-index: 3;
    transition: opacity 0.4s;
}

.content{
    position: absolute;
    width: 85%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 60%);
    display: flex;
    padding: 1rem 1rem;
}

.footer{
    align-self: flex-end;
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 0rem;
}
.footer > a{
    align-self: flex-end;
}
.title{
    font-size: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: relative;
}
.title::before, .title::after{
    content: "";
    position: absolute;
    bottom: -1.4rem;
    left: 1.3rem;
    background-color: rgb(var(--primary-rgb));
    border-radius: 1rem;
    box-shadow: 0px 0px 8px 3px rgb(var(--primary-rgb) / 60%);
}
.title::before{
    height: 2px;
    width: 50px;
    translate: -20px -1rem;
    opacity: 0.75;
}
.title::after{
    height: 3px;
    width: 30px;
    translate: 40px calc(-1rem - 0.5px);
}
.highlight {
    font-size: 1.5rem;
    text-shadow: 0 0 0.5rem rgb(255, 0, 204);
    text-decoration: underline;
    margin: 1rem 0;
}

.link-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.link{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    transition: 0.5s;
}
.link img{
    width: 5rem;
    transition: 0.5s;
}
.link-container > a > img:hover{
    transform: rotateZ(10deg);
}
.tracer-wrapper{
    pointer-events: none;
    position: absolute;
    filter: blur(12rem);
    width: fit-content;
    height: fit-content;
    top:50%;
    left: 50%;
    translate: -50% -50%;
    overflow: hidden;
}
.tracer{
    aspect-ratio: 1;
    width: 30rem;
    height: 30rem;
    background: linear-gradient(90deg,rgb(0, 255, 119) 50%,rgb(146, 0, 137) 50%);
    border-radius: 50%;
    animation: rotate 5s linear infinite;
}

@media (max-width:600px) {
    .tracer-wrapper, .tracer {
        display: none;
    }
}

#click{
    position: absolute;
    width: 1rem;
}

#cat-img{
    width: 7rem;
    animation: spin 10s infinite;
}

@keyframes spin {
    from{
        transform: rotateZ(0deg);
    }

    to{
        transform: rotateZ(360deg);
    }
}
@keyframes rotate {
    from{
        transform: rotateZ(0deg);
    }
    50% {
        scale: 1 1.5;
        opacity: 0.6;
    }
    to {
        transform: rotateZ(360deg);
        opacity: 1;
    }
}
